.flex-container{
    margin: 0 auto;
    border: 2px solid blue;
    display: flex;
    width: 400px;
    padding: 1em;
}
.flex-item{
    background: rgb(170, 161, 161);
    border: 2px solid black;
    padding: 20px;
}
h1, h2 {
    text-align: center;
}
.flex-container.flex-start{
    justify-content: flex-start;
}
.flex-container.flex-end{
    justify-content: flex-end;
}
.flex-container.center{
    justify-content: center;
}
.flex-container.space-between{
    justify-content: space-between;
}
.flex-container.space-around{
    justify-content: space-around;
}
.flex-container.space-evenly{
    justify-content: space-evenly;
}