@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 18px/1.5 'Open Sans', sans-serif;
    background-color: rgba(193, 187, 187, 1);
}
body > * {
    width: 100%;
}
.section {
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1600px;
        margin: 0 auto;
        padding: 2em;
    }
    &.section-header {
        .inner{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                h1 {
                    font-family: 'Oleo Script', serif;
                    background-color: rgba(87, 163, 144, 1);
                    color: white;
                    padding: 0.1em 0.4em;
                    width: fit-content;
                    font-weight: 600;
                    border-radius: 0.3em;
                }
                span {
                    font-size: 18px;
                    color: black;
                    background-color: rgba(193, 187, 187, 1);
                    font-family: 'Open Sans', sans-serif;
                    padding: 0.2em 0.3em;
                    border-radius: 4px;
                    line-height: 1.2;
                    font-weight: bold;
                }
            }
            nav ul{
                display: flex;
                flex-direction: row;
                gap: 1.5em;
                list-style: none;
                a, li {
                    color: rgba(105, 105, 105, 1);
                    text-decoration: none;
                    font-weight: bold;
                }
                .welcome {
                    color: white;
                    background-color: rgba(68, 68, 68, 1);
                    padding: 0.5em 0.8em;
                    border-radius: 0.3em;
                }
            }
        }
    }
    &.section-banner{
        .inner {
            display: flex;
            flex-direction: row;
            background-color: white;
            border-radius: 0.3em;
            gap: 20em;

            .content {
                h1 {
                    font-size: 3em;
                    max-width: 15ch;
                    line-height: 0.9;
                    margin-left: 0.5em;
                    opacity: 0.7;
                }
                p {
                    margin-left: 0.8em;
                    font-size: 2em;
                    max-width: 30ch;
                    margin-top: 0.8em;
                    margin-bottom: 1.2em;
                }
            }
            .media {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                flex: 1;
                .lets-go {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: rgba(0, 144, 197, 1);
                    padding: 0.5em 1.2em;
                    border-radius: 0.3em;
                    font-weight: bold;
                    font-size: 1.2em;
                    a, i{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}