html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
blockquote {
      border-left: 4px solid #ccc;
      padding-left: 20px;
      margin: 20px 0;
      font-style: italic;
    }

    .quote-container {
      max-width: 800px;
      margin: 0 auto;
    }

    .author {
      text-align: right;
      margin-top: 20px;
      font-style: italic;
    }
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
p, ol, ul{
    margin-bottom: 1.5rem;
}
ol, ul{
    padding-left: 1.5rem;
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: inherit;
}
body{
    box-sizing: inherit;
}