.flex-container{
    margin: 0 auto;
    border: 2px solid blue;
    display: flex;
    width: 400px;
    padding: 1em;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flex-item{
    background: rgb(170, 161, 161);
    border: 2px solid black;
    padding: 20px;
}
h1, h2 {
    text-align: center;
}
.flex-container.gap-row{
    gap: 2em 0;
}
.flex-container.gap-column{
    gap: 0 2em;
}
.flex-container.gap{
    gap: 2em;
}