div{
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    margin-bottom: 20px;
    background: #eee;
}
.border-box{
    box-sizing: border-box;
}
.content-box{
    box-sizing: content-box;
}