@media (width <= 600px){
    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;
    }
    .header-title{
        padding: 1.2em;
    }
    .header-title h1 {
        font-size: 35px;
        margin: 0 auto;
    }
    .header-title p{
        max-width: 60ch;
        margin: 0 auto;
        font-size: 17px;
    }
    .choose-us ul {
        flex-direction: column;
        gap: 1.2em;
        align-items: center;
    }
    .choose-us ul li {
        max-width: 380px;
    }
    .about-us{
        width: 75%;
    }
    .team-description ul{
        gap: 2em;
        justify-content: center;
    }
    .team-description ul li img {
        width: 100px;
        height: auto;
    }
}