div{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: content-box;
}
.outer{
    border-color: lightgreen;
}
.inner{
    border-color: blue;
}
.header, .main, .footer{
    border-color: black;
    margin: 0.8em;
    text-align: center;
}