* {
    padding: 0em;
    box-sizing: border-box;
    margin: 0em;
}

html{
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
body{
    background: #ddd;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.flex-box{
    max-width: 900px;
    margin: 2em auto;
    background: white;
    border-radius: 0.3em;
}
.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.photo-gallery li{
    display: flex;
    flex: 1 1 30%;
    border: 0.3em solid black;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
    padding: 1em;
    position: relative;
}
.photo-gallery a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: gray;
    line-height: 1;
    padding-bottom: 1.5em;
}
.photo-gallery img{
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}
.photo-gallery a .title{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.2em;
    font-style: italic;
}