@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: lightgray;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }

    section {
        background-color: white;
        border-radius: 1%;
        border: none;
        margin: 0 auto;
        max-width: 120ch;
        padding: 1.5em 1.2em;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    header,
    footer {
        border: 1px solid lightgray;
        border-radius: 0.3em;
        padding: 1em;
    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    main, aside {
        border: 1px solid lightgray;
        border-radius: 0.3em;
        padding: 1em;
    }
}

@media (width <= 800px) {
    .content {
        flex-direction: column;
    }
}

@media (width > 800px) {
    main {
        flex: 3;
    }

    aside {
        flex: 1;
    }
}
