.flex-container{
    margin: 0 auto;
    border: 2px solid blue;
    display: flex;
    width: 400px;
    padding: 1em;
    height: 200px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.flex-item{
    background: rgb(170, 161, 161);
    border: 2px solid black;
    padding: 20px;
}
h1, h2 {
    text-align: center;
}
.flex-container.align-flex-start{
    align-content: flex-start;
}
.flex-container.align-flex-end{
    align-content: flex-end;
}
.flex-container.align-center{
    align-content: center;
}
.flex-container.align-space-between{
    align-content: space-between;
}
.flex-container.align-space-around{
    align-content: space-around;
}