html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

div{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    box-sizing: content-box;
}
.outer{
    border-color: lightgreen;
}
.inner{
    border-color: black;
    margin-bottom: 0.8em;
}
.header, .banner, .footer, .article{
    border-color: blue;
    margin: 0.8em;
}